{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as  wtf %}
{% block title %}Popcorn{% endblock %}

{% block content %}
    <div class="container">
    <h2>Add a Movie!</h2>
        <div class="col-md-6">
            {{ wtf.form_field(form.name)}}
            {{ wtf.form_field(form.genre) }}
        </div>
        <div class="col-md-6">
        {{ wtf.form_field(form.description) }}
        </div>
    <div class='row'>
        {{ wtf.form_field(form.submit) }}
    </div>
    </div>
{% endblock %}