{% extends "bootstrap/base.html" %}
{% block title %}Popcorn{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Welcome to Popcorn!</h1>
        </div>
        <div class="text-center">
            <p>Select a button to get started</p>
            <div class="col">
                <div class="row">
                    <a href="/add">
                        <button type="button" class="btn btn-primary">Add a Movie</button>
                    </a>
                </div>
                <br>
                <div class="row">
                    <a href="/all">
                        <button type="button" class="btn btn-primary">View All Movies</button>
                    </a>
                </div>
                <br>
                <div class="row">
                    <a href="/popular">
                        <button type="button" class="btn btn-primary">View Popular Movies</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
